<div class="call-screen">
      <span>PeerId: {{ isOnline }}</span>
      <input type="text" placeholder="Peer Id" [(ngModel)]='peerIdShare' />
      <div class="video-screen">
            <div class="caller">
                  <video #callerVideo autoplay></video>
            </div>
            <div *ngIf="!loading" class="receiver" id="remote-video">
                  <video #remoteVideo autoplay ></video>
            </div>
            <div *ngIf="loading" class="receiver">
                  
                        <h3>{{ getConnectionMessage() }}</h3>
                 
            </div>
      </div>
      <div class="call-controls">
            <button class="btn btn-primary">
                  Mute/Unmute
            </button>
            <button (click)="connectWithPeer()" class="btn btn-success">
                  Make Call
            </button>
            <!-- <button *ngIf="!(presenceService.onlineUsers$ | async)?.includes(member.userName)" class="btn btn-success">
                  User is Offline
            </button> -->
            <button class="btn btn-primary">
                  Hide/Show
            </button>
      </div>
</div>
