<div class="call-screen">
      <div class="video-screen">
            <div class="wrapper">
                  <div class="caller" [ngClass]="{'add-blur' : localStream  === undefined}">
                        <video #localVideo autoplay></video>
                  </div>
            </div>
            <div class="wrapper">
                  <div class="receiver" [ngClass]="{'add-blur' : localStream  === undefined}">
                        <video #remoteVideo autoplay ></video>
                  </div>
            </div>
      </div>
      <div class="call-controls">
            <button [innerText]="callBtnText + ' ' + memberName" 
                    (click)="callButtonClicked()" 
                    class="btn"
                    [ngClass]="{
                                    'btn-success': callBtnText === 'Call',
                                    'btn-danger':  callBtnText === 'Connecting',
                                    'btn-primary': callBtnText === 'End Call',
                                    'btn-info': callBtnText === 'Accept Call'
                              }"
                    [disabled]="(callBtnText === 'Connecting')">
            </button>
      </div>
</div>
