<div class="call-screen">
      <div class="video-screen">
            <div class="caller">
                  <video #localVideo autoplay></video>
            </div>
            <div class="receiver">
                  <video #remoteVideo autoplay ></video>
            </div>
      </div>
      <div class="call-controls">
            <button class="btn btn-primary">
                  Mute/Unmute
            </button>
            <button [innerText]="callBtnText" 
                    (click)="callButtonClicked()" 
                    class="btn btn-success"
                    [disabled]="(callBtnText === 'Ringing') || (callBtnText === 'Connecting')">
            </button>
            <button class="btn btn-primary">
                  Hide/Show
            </button>
      </div>
</div>
