.img-thumbnail{
      width: 100%;
}

.card-footer{
      padding: 10px 15px;
      background-color: #fff;
      border-top: none;
}

.ngx-gallery{
      display: inline-block;
      margin-bottom: 20px;
      max-width: 100vw;
}
