<div class="text-center mt-3">
      <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>

<div *ngIf="userParams" class="container-fluid mt-3">
      <form #form="ngForm" class="mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
            <div class="col mb-2">

                  <span class="d-flex">
                        <label class="mr-2">Age from:
                              <input type="number" class="form-control" style="width: 25vw;" name="minAge"
                                    [(ngModel)]="userParams.minAge">
                        </label>

                        <label class="mx-2">Age to:
                              <input type="number" class="form-control" style="width: 25vw;" name="maxAge"
                                    [(ngModel)]="userParams.maxAge">
                        </label>
                        <label class="mx-2 mb-2">Show:
                              <select name="gender" style="width: 25vw;" class="form-select"
                                    [(ngModel)]="userParams.gender">
                                    <option *ngFor="let gender of genderList" [value]="gender.value">
                                          {{gender.display}}
                                    </option>
                              </select>
                        </label>
                  </span>

                  <span class="d-flex">
                        <button type="submit" class="btn btn-primary ms-1">Apply Filters</button>
                        <button (click)="resetFilters()" type="submit" class="btn btn-info ms-1">Reset Filters</button>
                  </span>
            </div>

            <div class="col">
                  <div class="btn-group">
                        <button type="button" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadMembers()"
                              btnRadio="lastActive" class="btn btn-primary">
                              Last Active
                        </button>
                        <button type="button" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadMembers()"
                              btnRadio="created" class="btn btn-primary">
                              Newest Members
                        </button>
                  </div>
            </div>

      </form>
</div>

<div class="row">
      <div class="col-2-custom" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
      </div>
</div>

<div *ngIf="pagination" class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
</div>