.dropdown-toggle, .dropdown-item{
      cursor: pointer;
      display: flex;
      align-items: center;
}
.dropdown{
      display: flex;
}
img{
      max-height: 50px;
      border: 2px solid white;
      display: inline;
      border-radius: 50%;
}

